@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 111, 111, 111;
	--background-start-rgb: 241, 240, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: rgb(var(--background-start-rgb));
}

.react-datepicker-wrapper {
	width: 100%;
}

.react-datepicker__input-container {
	display: flex !important;
	align-items: center !important;
	flex-direction: row-reverse !important;
	gap: 25px !important;
}

.react-datepicker__view-calendar-icon input {
	padding: 6px 25px 5px 8px !important;
	height: 40px !important;
}

.react-datepicker {
	z-index: 999 !important
}

.react-datepicker__calendar-icon {
	fill: #48409E;
}

.react-datepicker__header {
	background-color: #48409E;
}