@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 111, 111, 111;
	--background-start-rgb: 241, 240, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: rgb(var(--background-start-rgb));
}
