@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 111, 111, 111;
	--background-start-rgb: 241, 240, 255;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: rgb(var(--background-start-rgb));
}

/* input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):valid ~ label {
	@apply transform;
	@apply scale-75;
	@apply -translate-y-6;
	@apply bg-white;
	@apply ml-0;
}

input:focus ~ label,
select:focus ~ label {
	@apply text-black;
	@apply left-0;
} */
